<!DOCTYPE html>
<html>
<head>
<title>Vipul Mirajkar's Blogs</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="/css/fixer.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
	integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	crossorigin="anonymous">
<!--Emoji CSS -->
<link href="https://afeld.github.io/emoji-css/emoji.css"
	rel="stylesheet">
<!-- Icon -->
<link rel="shortcut icon" href="/img/vipulfavi.png" type="image/x-icon" />
</head>
<body>
	<div class="container is-widescreen">
		<h5 class="title is-5">
			<a href="/" style="color: black;">Vipul Mirajkar, J2EE Developer</a>
		</h5>
		<hr class="bloghr" />
		<h4 class="title is-4">
			<a href="/blogs/codesmell.html">Does your code smell??</a>
		</h4>
		<h6 class="subtitle is-6">
			<i>10th December, 2018</i>
		</h6>
	</div>
</body>
</html>