<!DOCTYPE html>
<!-- ============================================================================================-->
<!-- **psstt** This is a secret page. You're not supposed to see this code! -->
<!-- Go away! Last Warning! -->
<!-- DAMN! You're a badass. -->
<!-- ============================================================================================-->
<html>
<head>
<title>Vipul Mirajkar-J2EE Developer</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/bulma.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
	integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	crossorigin="anonymous">
<!--Emoji CSS -->
<link href="https://afeld.github.io/emoji-css/emoji.css"
	rel="stylesheet">
<!-- Icon -->
<link rel="shortcut icon" href="/img/vipulfavi.png" type="image/x-icon" />
<script type="text/javascript">
<!--script for disabling right-click-->
document.addEventListener('contextmenu',event=>event.preventDefault());
</script>
</head>
<body>
	<!--Name & Nav-->
	<section class="section">
		<div class="container">
			<h1 class="title has-text-centered">
				<u>Vipul Sanjay Mirajkar</u> <i class="em em-sunglasses"
					style="display: inline-block;"></i>
			</h1>
			<p class="content"></p>
			<h2 class="subtitle has-text-centered">
				<strong>/* <a href="https://github.com/vipulmirajkar">github</a>
					| <a href="https://stackoverflow.com/users/7100085/vipul-mirajkar">stackoverflow</a>
					| <a href="view/blogs.html">blog</a> */
				</strong>
			</h2>
		</div>
	</section>

	<!--Container for introduction-->
	<div class="container box" style="max-width: 750px;">
		<nav class="level">
			<div class="level-item">
				<div>
					<div class="content">
						<h5 class="title is-5">I am a Full-Stack Developer from Ambernath
							(Mumbai), India.</h5>
						<h5 class="title is-5">
							I work mostly in Technologies / Frameworks related to Java. 
							<br/>
							And, Currently learning angular 6 and node.js <br />
							<ul>
								<li>Mostly I do web development in Jakarta EE (formerly
									known as Java EE)</li>
								<li>I am available for hire as a freelance developer.</li>
							</ul>
						</h5>
					</div>
					<hr />
					<h5 class="title is-5">
						My resume is available here: <a href="assets/Resume.pdf">PDF</a> <i
							class="em em-page_facing_up"></i>
					</h5>
					<hr />
					<div class="content">
						<h5 class="title is-5">
							<i>Contact-</i>
						</h5>
						<strong>You can hit me an e-mail on </strong>
						<code style="color: blue;">thevipulmirajkar@gmail.com</code>
					</div>
				</div>
			</div>
	</div>
	</div>
	</nav>
	</div>

	<!--Footer-->
	<footer class="footer"
		style="background-color: #fff; padding-top: 20px;">
		<div class="container">
			<h2 class="subtitle has-text-centered">
				<strong>Made in <i class="fas fa-heart"></i> with<a
					href="https://bulma.io"> Bulma.css</a> <br /> by: <u><i>Vipul
							Mirajkar</i></u>
				</strong>
			</h2>
		</div>
	</footer>
</body>
</html>